<!DOCTYPE html>
<html>
<head>
    <title>Admin Register</title>
</head>
<body>
    <h2>Admin Registration</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>
        <p>{{ form.email.label }}<br>{{ form.email(size=32) }}</p>
        <p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
</html>
